@media (max-width: 524px){
    #corpo{
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: aqua;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .sobre-mim,.redes-sociais{
        width: 100%;
        height: calc(100% - 216px - 45px - 20px - 10px);
    }

    .cartao{
        width: 100vw;
        height: 550px;
        margin-top: 0px;
        border-radius: 0px;
        

        /* background-color: aqua; */
    }

    .menu-escondido{
        border-radius: 0px;
    }

    .projetos{
        width: 100vw;
        height: 550px;
        border-radius: 0px;
    }
}