@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&family=VT323&display=swap');

:root {
    --fonte-normal: 'Nunito', sans-serif;
    --fonte-pixel: 'VT323', monospace;

    --dark-gray: rgb(51, 47, 46);
    --black: rgb(10, 10, 10);
    --dark-blue: #090637;
    --details: cyan;
}

body {
    background-image: url('../image/pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow-x: hidden;
}

.cartao {
    background-image: linear-gradient(to left,var(--dark-blue),var(--dark-blue));
    width: 520px;
    margin-top: 20px;
    height: 580px;
    border-radius: 10px;
    border: 1px solid cyan;
    position: relative;
    box-shadow: inset 0px -50px var(--dark-gray);
}

.projetos{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 520px;
    height: 580px;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
    padding: 20px 40px;
    display: none;
    overflow-y: scroll;
    border: 1px solid #000;
}

.projetos::-webkit-scrollbar-thumb{
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, cyan, cyan, cyan, cyan, transparent);
}

.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    /* background-color: aqua; */
}

.calculator{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #000;
    transition: .3s ease-in-out;
}

.calculator:hover{
    filter: invert(1);
}

.title{
    font-family: var(--fonte-pixel);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

.descricion{
    font-family: var(--fonte-normal);
    font-size: 15pt;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}

.menu-escondido{
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    border: 1.5px solid ;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esc-home{
    display: flex;
    font-size: 0;
    font-family: var(--fonte-normal);
    background-color: #ffff;
    margin: 10px;
    padding: 0;
    width: 0;
    border-radius: 10px;
}

.esc-proj{
    display: flex;
    font-size: 0;
    font-family: var(--fonte-normal);
    background-color: #ffff;
    margin: 10px;
    padding: 0;
    width: 0;
    border-radius: 10px;
}

.esc-home:hover,.esc-proj:hover{
    background-color: rgb(194, 243, 255);
    cursor: pointer;
}

.logo-projetos,.logo-home{
    padding-right: 20px;
}

.menu-sanduiche{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.perfil {
    position: static;
    padding: 15px;
}

.foto {
    width: 100px;
    height: 100px;
    display: block;
    background-color: black;
    margin: auto;
    border-radius: 50%;
}

.name {
    font-family: var(--fonte-pixel);
    text-align: center;
    font-weight: 600;
    color: #e7e7e7;
}

.cargo {
    font-family: var(--fonte-pixel);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #e7e7e7;
}

.botoes {
    display: flex;
    background-color: var(--black);
    height: 45px;
    box-shadow: 0px 45px 0px var(--dark-gray);
}

.sobre,
.social {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--details);
}

.bttn-ativo{
    background-color: var(--dark-gray);
    border-bottom: 0px;
}

.sobre:hover,
.social:hover {
    background-color: var(--dark-gray);
    transition: .4s;
}

.sobre-mim {
    font-family: var(--fonte-normal);
    background-color: var(--dark-gray);
    height: calc(100% - 184px - 45px - 20px);
    overflow-y: scroll;
    color: #ffffff;
    padding: 0px 20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

span{
    color: var(--details);
}

.redes-sociais {
    display: none;
    background-color: var(--dark-gray);
    height: calc(100% - 184px - 45px - 20px);
    padding: 0px 20px;
    margin: 10px 0px 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minhas-redes{
    font-size: 20pt;
    font-weight: 500;
    font-family: var(--fonte-normal);
    color: #ffffff;
    margin: 20px;
}

.linkedin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    font-family: var(--fonte-normal);
    padding: 10px;
    background-color: rgb(0, 89, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffff;
    font-size: 18pt;
    margin: 10px;
}

.linkedin:hover{
    transition: .4s;
    background-color: rgb(0, 51, 145);
}

.github{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    font-family: var(--fonte-normal);
    padding: 10px;
    background-color: rgb(29, 29, 29);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffff;
    font-size: 18pt;
    margin: 10px;
}

.github:hover{
    transition: .4s;
    background-color: rgb(0, 0, 0);
}

.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    font-family: var(--fonte-normal);
    padding: 10px;
    background-color: rgb(255, 24, 24);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffff;
    font-size: 18pt;
    margin: 10px;
}

.email:hover{
    transition: .4s;
    background-color: rgb(155, 14, 14);    
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--details);
    border-radius: 5px;
}